---
interface Props {
  maxWidth?: string;
}
const { maxWidth = 'var(--width-content)' } = Astro.props;
---
<div class="card" style={`max-width: ${maxWidth}`}>
  <slot />
</div>

<style>
  .card {
    background-color: var(--color-bg-white);
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-lg);
    margin: 0 auto;
    padding: var(--space-10);
  }
</style>
